body{
	background-color: #ffffff;
	color: #000000;
}


h1{
	font-size: 50px;
	color: #000000;
}
h2{
	letter-spacing: 6px;
	font-size: 35px;
	color: ff4499;
}
h3{
	font-size: 20px;
}
button{
	background-color: #000000;
	color: #ffffff;
}